*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

}
nav{
    z-index: 999;
}
nav ul li{
    padding: 0 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
/* end nav */
.card-img-top{
    height: 200px;
}
/* footer */
footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: -10px;
    padding: 10px;
    
}
footer ul li{
    margin: 0 6px;
    cursor: pointer;
}
