*{
    padding: 0;
    margin: 0;
    font-family: 'Righteous', cursive;
}
body{
    background-color: #201D22;
}
/* navigation  */
nav ul li{
    padding: 0 10px;
}

.logo{
    height: 30px;
    object-fit: cover;
}
/* section================ */
/* HEADING SLIDER */
.d-block{
    object-fit: cover;
}
.main a, footer a{
    color: rgb(107, 105, 105);
    text-decoration: none;
}
.main img:hover, .thumbs img:hover{
    opacity: 50%;
    transition:all .5s;
    
}
.main a:hover, footer a:hover{
    color: white;
}
.main img{
    border-radius: 10px;
    object-fit: cover;
}
footer .list-footer{
    display: flex;
    flex-direction: column;
}
footer img{
    width: 30px;
    height: 30px;
    border-radius: 0px;
}
hr{
    color: white;
}
footer{
    color: white;
}
/* page shop */
.shop-list ul{
    list-style: none;
}
.shop-list ul li a{
    text-decoration: none;
    color: rgb(107, 105, 105);
}
.shop-list a:hover, .thumbs a:hover{
    color: white;
}
.thumbs a{
    color: rgb(107, 105, 105);
    text-decoration: none;
}
/* page store */
.container-store{
    margin-bottom: 3em;
}
.store p, .store h3{
    text-align: left;
    color: #fff;
    margin:0;
}
.store .img-store{
    width: 100%;
}
/* cart page */
.item-list h3, .item-list p{
    margin: 0;
}
/*css3 design scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {      
    background: #232323;    
}
 
::-webkit-scrollbar-thumb {
    background: #666;
}
